<h1>Test yourself </h1>

<p>how do you say ?</p>

<p>your answer:</p>
<form  action="/submit" method="POST">
    <input name="reponse" placeholder="reponse"/>
    <input type="submit" value="tester"/>
<p><%=result%></p>




